<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>        
        <netTcpBinding>
          <binding name="NetTcpBindingConfig" receiveTimeout="00:00:10">
            <reliableSession enabled="true"/>
          </binding>
        </netTcpBinding>
      </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
          <service name="SimpleService.SimpleService" behaviorConfiguration="mexBehavior">
                <endpoint address="SimpleService" 
                          binding="netTcpBinding" 
                          contract="SimpleService.ISimpleService" 
                          bindingConfiguration="NetTcpBindingConfig"/>
           
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                       <add baseAddress="http://localhost:8080" />
                        <add baseAddress="net.tcp://localhost:8090" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>


<!--<configuration>
  <system.serviceModel>
    <bindings>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="SimpleService.SimpleService" behaviorConfiguration="mexBehavior">
        <endpoint
            address="SimpleService"
            binding="basicHttpBinding"
            contract="SimpleService.ISimpleService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
            <add baseAddress="net.tcp://localhost:8090" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>-->