<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISampleService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/SampleService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISampleService" contract="SampleService.ISampleService"
                name="NetTcpBinding_ISampleService">
                <identity>
                    <userPrincipalName value="GO-PC\GO" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>