<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IReportService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8735/ReportService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IReportService" contract="ServiceReport.IReportService"
                name="NetTcpBinding_IReportService">
                <identity>
                    <userPrincipalName value="kejeike@net1.cec.eu.int" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>