<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBCS"
           connectionString="data source=S-EAC-MSSQL2008\E4ALINK1;Integrated Security=SSPI;database=EPlusLink"
           providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="mexBehaviour" receiveTimeout="01:00:00" maxBufferSize="2147483647" sendTimeout="01:00:00" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>      
      <service name="CalculatorService.CalculatorService" behaviorConfiguration="mexBehaviour">
        <endpoint address="CalculatorService" binding="netTcpBinding"  contract="CalculatorService.ICalculatorService"></endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8735/"></add>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="false"/>
          <!--<protectionLevel level="Sign"/>-->
        </behavior>
        <behavior name="ExtensionDataObjectCfg">
          <dataContractSerializer ignoreExtensionDataObject="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>

<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <system.serviceModel>
        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtTransportLevel="true" />
        </diagnostics>
      <bindings>
        --><!--<wsHttpBinding>
          <binding>
            <security mode="None"></security>
          </binding>
        </wsHttpBinding>--><!--
        <netTcpBinding></netTcpBinding>
      </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                  <serviceDebug includeExceptionDetailInFaults="true"></serviceDebug>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="CalculatorService.CalculatorService" behaviorConfiguration="mexBehavior">
                <endpoint address="CalculatorService" binding="netTcpBinding" contract="CalculatorService.ICalculatorService">                 
                </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>-->
