<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICompanyPublicService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICompanyConfidentialService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="MetadataExchangeHttpBinding_ICompanyPublicService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/CompanyService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICompanyPublicService"
        contract="CompanyServiceRef.ICompanyPublicService" name="BasicHttpBinding_ICompanyPublicService" />
      <endpoint address="net.tcp://localhost:8090/CompanyService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ICompanyConfidentialService"
        contract="CompanyServiceRef.ICompanyConfidentialService" name="NetTcpBinding_ICompanyConfidentialService">
        <identity>
          <userPrincipalName value="DESKTOP-3477AFV\Funy" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8080/mex" binding="wsHttpBinding"
        bindingConfiguration="MetadataExchangeHttpBinding_ICompanyPublicService"
        contract="CompanyServiceRef.ICompanyPublicService" name="MetadataExchangeHttpBinding_ICompanyPublicService" />
    </client>
  </system.serviceModel>
</configuration>
