<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <services>
      <!--behaviorConfiguration="mexBehaviorCustomName allow us to associate 
      the service with the behavior described below-->
      <service name="CompanyServiceNamespace.CompanyService"  behaviorConfiguration="mexBehaviorCustomName">
        <endpoint address="CompanyService" binding="basicHttpBinding" contract="CompanyServiceNamespace.ICompanyPublicService"></endpoint>
        <endpoint address="CompanyService" binding="netTcpBinding" contract="CompanyServiceNamespace.ICompanyConfidentialService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="CompanyServiceNamespace.ICompanyPublicService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
            <add baseAddress="net.tcp://localhost:8090/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <!--we specify service behavior to enable service discovery by the client,
      where proxy classes will be created by the client, 
      i.e it tells which contracts (interfaces) and methods (operations)
      and which params used!-->
      <serviceBehaviors>
        <!--it allows the service to exchange metadata-->
        <behavior name="mexBehaviorCustomName">
          <!--it allows client to issue a get request to get the metadata, 
          i.e. to browse the metadata file (the wsdl file!)-->
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>