<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDownloadService"   maxReceivedMessageSize="700000000">
                  <readerQuotas maxArrayLength="70000000"/>
                </binding>
              </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8735/DownloadService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDownloadService"
                contract="DownloadService.IDownloadService" name="NetTcpBinding_IDownloadService">
                <identity>
                    <userPrincipalName value="kejeike@net1.cec.eu.int" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>