<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <system.serviceModel>
        <diagnostics>
            <messageLogging logEntireMessage="true" logMalformedMessages="true"
                logMessagesAtTransportLevel="true" />
        </diagnostics>
      <bindings>
        <!--<wsHttpBinding>
          <binding>
            <security mode="None"></security>
          </binding>
        </wsHttpBinding>-->
      </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                  <serviceDebug includeExceptionDetailInFaults="true"></serviceDebug>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="CalculatorService.CalculatorService" behaviorConfiguration="mexBehavior">
                <endpoint address="CalculatorService" binding="wsHttpBinding" contract="CalculatorService.ICalculatorService">                 
                </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
