<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>    
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICalculatorService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8735/CalculatorService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICalculatorService"
        contract="CalculatorService.ICalculatorService" name="NetTcpBinding_ICalculatorService">
        <identity>
          <userPrincipalName value="kejeike@net1.cec.eu.int" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>