<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBCS"
           connectionString="data source=S-EAC-MSSQL2008\E4ALINK1;Integrated Security=SSPI;database=EPlusLink"
           providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="mexBehaviour"  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="ReportService.ReportService" behaviorConfiguration="mexBehaviour">
        <endpoint address="ReportService" binding="netTcpBinding"  contract="ReportService.IReportService"></endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" name="mex" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8735/"></add>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="false"/>
          <!--<protectionLevel level="Sign"/>-->
        </behavior>
        <behavior name="ExtensionDataObjectCfg">
          <dataContractSerializer ignoreExtensionDataObject="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>