<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\pgm\executables\asp.net\wcf exercices\simpleservice\host\app_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <connectionStrings>
    <add name="DBCS"
           connectionString="data source=S-EAC-MSSQL2008\E4ALINK1;Integrated Security=SSPI;database=EPlusLink"
           providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <mexTcpBinding>
        <binding name="mexTcpBind"  closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:00:10" sendTimeout="00:00:01"/>
      </mexTcpBinding>      
      <netTcpBinding>
        <binding name="netTcpBind" transferMode="Buffered">
          <security mode="Message">
            <!--<message clientCredentialType ="None"/>
            <transport clientCredentialType ="None" protectionLevel="None"/>-->                       
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="SimpleService.SimpleService" behaviorConfiguration="mexBehaviour">
        <endpoint address="SimpleService" binding="netTcpBinding"  contract="SimpleService.ISimpleService" bindingConfiguration="netTcpBind" >          
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" name="mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8735/"></add>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">       
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--<protectionLevel level="Sign"/>-->
        </behavior>
        <!--<behavior name="ExtensionDataObjectCfg">
          <dataContractSerializer ignoreExtensionDataObject="true"/>
        </behavior>-->
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>